@media only screen and (max-width: 300px) {
   body {
        background-color:red;
       
   }

   #small {
       font-size: small;
   }
   #small,#medium,#large {
    display: inline;
   }

}


@media only screen and (min-width: 301px) and (max-width: 768px) {
    body { background-color: green;
    }

    #small {
        width: 66.66666666666667%;
    }
    
    #large {
        width: 100%;
    }

    #medium {
        width:33.333333333%;
        font-size:medium;
    }

}

@media only screen and (min-width:769px) {
    body { background-color: blue;
       
    }
    #small, #medium, #large{
        display: inline-block;
        width: 25%;
        padding: 2px;
       
    }

   /* #large {
        font-size:large;
    }*/
}
